[submodule "webviz"]
	path = webviz
	url = git@github.com:ut-amrl/webviz.git
[submodule "enml"]
	path = enml
	url = git@github.com:ut-amrl/enml.git
[submodule "graph_navigation"]
	path = graph_navigation
	url = git@github.com:ut-amrl/graph_navigation.git
[submodule "amrl_shared_lib"]
	path = amrl_shared_lib
	url = git@github.com:ut-amrl/amrl_shared_lib.git
[submodule "config_reader"]
	path = config_reader
	url = git@github.com:ut-amrl/config-reader.git
[submodule "maps"]
	path = maps
	url = git@github.com:ut-amrl/amrl_maps.git
[submodule "robofleet_client"]
	path = robofleet_client
	url = git@github.com:ut-amrl/robofleet_client.git
[submodule "local_rgb_map"]
	path = local_rgb_map
	url = git@github.com:ut-amrl/local_rgb_map.git
[submodule "scripts/repos/gsam"]
	path = scripts/repos/gsam
	url = git@github.com:sadanand1120/Grounded-Segment-Anything.git
[submodule "scripts/repos/depthany2"]
	path = scripts/repos/depthany2
	url = git@github.com:sadanand1120/Depth-Anything-V2.git
