[submodule "webviz"]
	path = webviz
	url = https://github.com/ut-amrl/webviz.git
[submodule "enml"]
	path = enml
	url = https://github.com/ut-amrl/enml.git
[submodule "graph_navigation"]
	path = graph_navigation
	url = https://github.com/ut-amrl/graph_navigation.git
[submodule "amrl_shared_lib"]
	path = amrl_shared_lib
	url = https://github.com/ut-amrl/amrl_shared_lib
[submodule "config_reader"]
	path = config_reader
	url = https://github.com/ut-amrl/config-reader
[submodule "maps"]
	path = maps
	url = git@github.com:ut-amrl/amrl_maps
[submodule "robofleet_client"]
	path = robofleet_client
	url = git@github.com:ut-amrl/robofleet_client
[submodule "amrl_maps"]
	path = amrl_maps
	url = git@github.com:ut-amrl/amrl_maps.git
[submodule "amrl_msgs"]
	path = amrl_msgs
	url = git@github.com:ut-amrl/amrl_msgs.git
