<launch>
  <arg name="barebones" default="false" />  <!-- default: use full stack nodes -->
  <arg name="no_intermed" default="true" />  <!-- default: use intermediate planner -->
  <arg name="dt" default="0.025" />   <!-- default: navloop dt -->
  <arg name="cmd_dt" default="0.125" />   <!-- default: time-to-live for each command sent to Spot -->
  <arg name="joy_dt" default="0.1" />   <!-- default: max_cmd_age in joystick_driver -->
  <arg name="disable_depth_to_lidar" default="false" />
  <arg name="disable_compress_image_left" default="false" />
  <arg name="disable_compress_image_right" default="false" />
  <arg name="disable_compress_image_side_left" default="false" />
  <arg name="disable_compress_image_side_right" default="false" />
  <arg name="disable_compress_image_back" default="false" />
  <arg name="disable_vectornav" default="false" />
  <arg name="cuda_dtl" default="false" />  <!-- default: do not use CUDA enabled depth-to-lidar -->
  <arg name="sterling" default="false" />  <!-- default: do not run bev and sterling -->
  <arg name="adaptor_remap" default="false" />     <!-- to be used when we want to throttle communication between nodes (for third party apps) by throttling topics -->
  <!-- <arg name="adaptor_essential" default="false" />     to be used when we want to throttle communication between nodes (for essential apps) by throttling topics -->
  <arg name="lidarmode" default="lidar" />  <!-- options: lidar|cam|model -->
  <arg name="device_camdepth" default="cuda" />  <!-- options: cuda|cpu -->
  <arg name="gsam" default="false" />
  <arg name="gsam_device" default="cuda" />

  <!-- Start Velodyne, and 3D to 2D conversions -->
  <include file="$(find spot_autonomy)/launch/velodyne.launch">
    <arg name="lidarmode" value="$(arg lidarmode)" adaptor_remap="$(arg adaptor_remap)" />
  </include>

  <include file="$(find spot_autonomy)/launch/start_clearpath_spot.launch">
    <arg name="cmd_dt" value="$(arg cmd_dt)" />
    <arg name="adaptor_remap" value="$(arg adaptor_remap)" />
  </include>
  <include file="$(find vectornav)/launch/vectornav.launch" if="$(eval not barebones and not disable_vectornav)" />

  <node name="depth_to_lidar"
      pkg="k4a_ros"
      type="$(eval 'cuda_depth_to_lidar' if cuda_dtl == 'true' else 'depth_to_lidar')"
      args="-config_file $(find spot_autonomy)/config/k4a_ros/kinect.lua -rgb -depth -imu -fps 30 -resolution 1536"
      respawn="false"
      output="screen"
      if="$(eval not barebones and not disable_depth_to_lidar)" >
        <remap if='$(arg adaptor_remap)' from='/camera/rgb/image_raw' to='/adaptors/pub/depth_to_lidar/camera/rgb/image_raw' />
        <remap if='$(arg adaptor_remap)' from='/camera/rgb/image_raw/compressed' to='/adaptors/pub/depth_to_lidar/camera/rgb/image_raw/compressed' />
        <remap if='$(arg adaptor_remap)' from='/kinect_laserscan' to='/adaptors/pub/depth_to_lidar/kinect_laserscan' />
  </node>

  <node name="bev_node"
      pkg="local_rgb_map"
      type="bev_node"
      args="_image_transport:=compressed -config $(find spot_autonomy)/config/local_rgb_map/bev_node_1536.lua"
      cwd="node"
      respawn="false"
      if="$(eval sterling)"
      output="screen" />

  <node name="sterling"
      pkg="spot_autonomy"
      type="sterling_run.py"
      args="--model_path $(find spot_autonomy)/scripts/sterling/models/cost_model.pt"
      cwd="node"
      respawn="true"
      respawn_delay="2"
      if="$(eval sterling)"
      output="screen" />

  <node name="camdepth"
      pkg="spot_autonomy"
      type="depth_pc_pub.py"
      args="--mode $(arg lidarmode) --device $(arg device_camdepth)"
      cwd="node"
      respawn="true"
      respawn_delay="2"
      if="$(eval lidarmode == 'cam' or lidarmode == 'model')"
      output="screen" />

  <node name="gsam"
      pkg="spot_autonomy"
      type="gsam_ros_node.py"
      cwd="node"
      args="--device $(arg gsam_device)"
      respawn="true"
      respawn_delay="2"
      if="$(eval gsam)"
      output="screen" >
      <remap if='$(arg adaptor_remap)' from='/camera/rgb/image_raw' to='/adaptors/sub/gsam/camera/rgb/image_raw' />
    </node>

  <node name="joystick"
      pkg="spot_autonomy"
      type="joystick"
      args="--v 2 --config $(find spot_autonomy)/config/joystick.lua --max_cmd_age $(arg joy_dt)"
      respawn="false"
      respawn_delay="2"
      output="screen" >
    <remap if='$(arg adaptor_remap)' from='/autonomy_arbiter/enabled' to='/adaptors/pub/joystick/autonomy_arbiter/enabled' />
    <remap if='$(arg adaptor_remap)' from='/cmd_vel' to='/adaptors/pub/joystick/cmd_vel' />
    <remap if='$(arg adaptor_remap)' from='/ldos/cmd_vel' to='/adaptors/pub/joystick/ldos/cmd_vel' />
    <remap if='$(arg adaptor_remap)' from='/navigation/cmd_vel' to='/adaptors/sub/joystick/navigation/cmd_vel' />
  </node>

  <node name="websocket"
      pkg="spot_autonomy"
      type="websocket"
      args="scan:=velodyne_2dscan_highbeams"
      output="screen"
      respawn="true"
      respawn_delay="2" >
      	<remap if='$(arg adaptor_remap)' from='/localization' to='/adaptors/sub/websocket/localization' />
        <remap if='$(arg adaptor_remap)' from='/move_base_simple/goal' to='/adaptors/pub/websocket/move_base_simple/goal' />
        <remap if='$(arg adaptor_remap)' from='/reset_nav_goals' to='/adaptors/pub/websocket/reset_nav_goals' />
        <remap if='$(arg adaptor_remap)' from='/set_pose' to='/adaptors/pub/websocket/set_pose' />
        <remap if='$(arg adaptor_remap)' from='/velodyne_2dscan_highbeams' to='/adaptors/sub/websocket/velodyne_2dscan_highbeams' />
        <remap if='$(arg adaptor_remap)' from='/visualization' to='/adaptors/sub/websocket/visualization' />
  </node>

  <node name="enml"
      pkg="spot_autonomy"
      type="enml"
      args="-d0 -c $(find spot_autonomy)/config -r enml.lua -m $(find spot_autonomy)/maps"
      output="screen"
      respawn="true"
      respawn_delay="2" >
      	<remap if='$(arg adaptor_remap)' from='/ldos/localization' to='/adaptors/pub/enml/ldos/localization' />
        <remap if='$(arg adaptor_remap)' from='/ldos/velodyne_2dscan_highbeams' to='/adaptors/sub/enml/ldos/velodyne_2dscan_highbeams' />
        <remap if='$(arg adaptor_remap)' from='/localization' to='/adaptors/pub/enml/localization' />
        <remap if='$(arg adaptor_remap)' from='/odom' to='/adaptors/sub/enml/odom' />
        <remap if='$(arg adaptor_remap)' from='/set_pose' to='/adaptors/sub/enml/set_pose' />
        <remap if='$(arg adaptor_remap)' from='/spot/ldos/odometry' to='/adaptors/sub/enml/spot/ldos/odometry' />
        <remap if='$(arg adaptor_remap)' from='/velodyne_2dscan_highbeams' to='/adaptors/sub/enml/velodyne_2dscan_highbeams' />
        <remap if='$(arg adaptor_remap)' from='/visualization' to='/adaptors/pub/enml/visualization' />
  </node>

 <node name="navigation"
     pkg="graph_navigation"
     type="navigation"
     args="-robot_config $(find spot_autonomy)/config/navigation.lua --no_intermed=$(arg no_intermed) --dt=$(arg dt)"
     output="screen"
     respawn="false"
     respawn_delay="2" >
     	<remap if='$(arg adaptor_remap)' from='/autonomy_arbiter/enabled' to='/adaptors/sub/navigation/autonomy_arbiter/enabled' />
	<remap if='$(arg adaptor_remap)' from='/camera/rgb/image_raw/compressed' to='/adaptors/sub/navigation/camera/rgb/image_raw/compressed' />
	<remap if='$(arg adaptor_remap)' from='/kinect_laserscan' to='/adaptors/sub/navigation/kinect_laserscan' />
	<remap if='$(arg adaptor_remap)' from='/ldos/localization' to='/adaptors/sub/navigation/ldos/localization' />
	<remap if='$(arg adaptor_remap)' from='/ldos/velodyne_2dscan_highbeams' to='/adaptors/sub/navigation/ldos/velodyne_2dscan_highbeams' />
	<remap if='$(arg adaptor_remap)' from='/localization' to='/adaptors/sub/navigation/localization' />
	<remap if='$(arg adaptor_remap)' from='/move_base_simple/goal' to='/adaptors/sub/navigation/move_base_simple/goal' />
	<remap if='$(arg adaptor_remap)' from='/navigation/cmd_vel' to='/adaptors/pub/navigation/navigation/cmd_vel' />
	<remap if='$(arg adaptor_remap)' from='/odom' to='/adaptors/sub/navigation/odom' />
	<remap if='$(arg adaptor_remap)' from='/reset_nav_goals' to='/adaptors/sub/navigation/reset_nav_goals' />
	<remap if='$(arg adaptor_remap)' from='/spot/ldos/odometry' to='/adaptors/sub/navigation/spot/ldos/odometry' />
	<remap if='$(arg adaptor_remap)' from='/tf' to='/adaptors/sub/navigation/tf' />
	<remap if='$(arg adaptor_remap)' from='/tf_static' to='/adaptors/sub/navigation/tf_static' />
	<remap if='$(arg adaptor_remap)' from='/velodyne_2dscan_highbeams' to='/adaptors/sub/navigation/velodyne_2dscan_highbeams' />
	<remap if='$(arg adaptor_remap)' from='/visualization' to='/adaptors/pub/navigation/visualization' />
    <remap if="$(eval lidarmode == 'cam' or lidarmode == 'model')" from="/velodyne_2dscan_highbeams" to="/camdepth_scan" />
  </node>

  <node name="robofleet_client"
      pkg="spot_autonomy"
      type="robofleet_client"
      args=""
      ns="spot"
      output="screen"
      respawn="true"
      respawn_delay="2" >
      <remap if='$(arg adaptor_remap)' from='/localization' to='/adaptors/sub/spot__robofleet_client/localization' />
      <remap if='$(arg adaptor_remap)' from='/move_base_simple/goal' to='/adaptors/pub/spot__robofleet_client/move_base_simple/goal' />
      <remap if='$(arg adaptor_remap)' from='/odom' to='/adaptors/sub/spot__robofleet_client/odom' />
      <remap if='$(arg adaptor_remap)' from='/robofleet_status' to='/adaptors/sub/spot__robofleet_client/robofleet_status' />
      <remap if='$(arg adaptor_remap)' from='/set_pose' to='/adaptors/pub/spot__robofleet_client/set_pose' />
      <remap if='$(arg adaptor_remap)' from='/spot/camera/back/image/compressed' to='/adaptors/sub/spot__robofleet_client/spot/camera/back/image/compressed' />
      <remap if='$(arg adaptor_remap)' from='/spot/camera/frontleft/image/compressed' to='/adaptors/sub/spot__robofleet_client/spot/camera/frontleft/image/compressed' />
      <remap if='$(arg adaptor_remap)' from='/spot/camera/frontright/image/compressed' to='/adaptors/sub/spot__robofleet_client/spot/camera/frontright/image/compressed' />
      <remap if='$(arg adaptor_remap)' from='/spot/camera/left/image/compressed' to='/adaptors/sub/spot__robofleet_client/spot/camera/left/image/compressed' />
      <remap if='$(arg adaptor_remap)' from='/spot/camera/right/image/compressed' to='/adaptors/sub/spot__robofleet_client/spot/camera/right/image/compressed' />
      <remap if='$(arg adaptor_remap)' from='/velodyne_2dscan_highbeams' to='/adaptors/sub/spot__robofleet_client/velodyne_2dscan_highbeams' />
      <remap if='$(arg adaptor_remap)' from='/velodyne_points' to='/adaptors/sub/spot__robofleet_client/velodyne_points' />
      <remap if='$(arg adaptor_remap)' from='/visualization' to='/adaptors/sub/spot__robofleet_client/visualization' />
  </node>

  <node name="status_translator"
      pkg="spot_autonomy"
      type="status_translator"
      args=""
      respawn="true"
      respawn_delay="2" >
      	<remap if='$(arg adaptor_remap)' from='/localization' to='/adaptors/sub/status_translator/localization' />
        <remap if='$(arg adaptor_remap)' from='/robofleet_status' to='/adaptors/pub/status_translator/robofleet_status' />
        <remap if='$(arg adaptor_remap)' from='/spot/status/power_state' to='/adaptors/sub/status_translator/spot/status/power_state' />
  </node>

  <node name="compress_image_left"
      pkg="image_transport"
      type="republish"
      args="raw in:=/spot/camera/frontleft/image compressed out:=/spot/camera/frontleft/image"
      respawn="true"
      respawn_delay="2"
      if="$(eval not barebones and not disable_compress_image_left)" >
    <remap if='$(arg adaptor_remap)' from='/spot/camera/frontleft/image' to='/adaptors/sub/compress_image_left/spot/camera/frontleft/image' />
    <remap if='$(arg adaptor_remap)' from='/spot/camera/frontleft/image/compressed' to='/adaptors/pub/compress_image_left/spot/camera/frontleft/image/compressed' />
  </node>

  <node name="compress_image_right"
      pkg="image_transport"
      type="republish"
      args="raw in:=/spot/camera/frontright/image compressed out:=/spot/camera/frontright/image"
      respawn="true"
      respawn_delay="2"
      if="$(eval not barebones and not disable_compress_image_right)" >
      <remap if='$(arg adaptor_remap)' from='/spot/camera/frontright/image' to='/adaptors/sub/compress_image_right/spot/camera/frontright/image' />
      <remap if='$(arg adaptor_remap)' from='/spot/camera/frontright/image/compressed' to='/adaptors/pub/compress_image_right/spot/camera/frontright/image/compressed' />
  </node>

  <node name="compress_image_side_left"
      pkg="image_transport"
      type="republish"
      args="raw in:=/spot/camera/left/image compressed out:=/spot/camera/left/image"
      respawn="true"
      respawn_delay="2"
      if="$(eval not barebones and not disable_compress_image_side_left)" >
      <remap if='$(arg adaptor_remap)' from='/spot/camera/left/image' to='/adaptors/sub/compress_image_side_left/spot/camera/left/image' />
      <remap if='$(arg adaptor_remap)' from='/spot/camera/left/image/compressed' to='/adaptors/pub/compress_image_side_left/spot/camera/left/image/compressed' />
  </node>

  <node name="compress_image_side_right"
      pkg="image_transport"
      type="republish"
      args="raw in:=/spot/camera/right/image compressed out:=/spot/camera/right/image"
      respawn="true"
      respawn_delay="2"
      if="$(eval not barebones and not disable_compress_image_side_right)" >
      <remap if='$(arg adaptor_remap)' from='/spot/camera/right/image' to='/adaptors/sub/compress_image_side_right/spot/camera/right/image' />
      <remap if='$(arg adaptor_remap)' from='/spot/camera/right/image/compressed' to='/adaptors/pub/compress_image_side_right/spot/camera/right/image/compressed' />
  </node>

  <node name="compress_image_back"
      pkg="image_transport"
      type="republish"
      args="raw in:=/spot/camera/back/image compressed out:=/spot/camera/back/image"
      respawn="true"
      respawn_delay="2"
      if="$(eval not barebones and not disable_compress_image_back)" >
    <remap if='$(arg adaptor_remap)' from='/spot/camera/back/image' to='/adaptors/sub/compress_image_back/spot/camera/back/image' />
    <remap if='$(arg adaptor_remap)' from='/spot/camera/back/image/compressed' to='/adaptors/pub/compress_image_back/spot/camera/back/image/compressed' />
  </node>

</launch>
